@font-face {
  font-family: "Mont-Regular";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Mont-Light";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Mont-Bold";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
